name: Node.js CI

on:
  push:
    tags:
      - "v*" # Runs when tags like 'v1.0.0' are pushed
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org" # Sets npm registry
          cache: "npm"
          cache-dependency-path: "./package-lock.json"
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm publish --provenance # Publishes to npm
